/* Comentario */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.body{
    display: flex;
    flex-direction: column;
    background-color: #f6eddc;
    padding: 4rem;
}

.header{
    width: 100%;
    display: flex;
    padding: 1rem;
    background-color: #ebe9e9;
}

.main{
    display: flex;
    flex-wrap: wrap;
}

.nav{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #586875;

    a{
        text-decoration: none;
        color: #ebe9e9;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: .5rem;
    }
}

.articles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 2rem;
    background-color: #ebe9e9;
}

.formulario{
    width: 80%;
    display: flex;
    flex-direction: column;

    label{
        cursor: pointer;
        padding: 5px 0;
        font-size: 1.2rem;
    }

    input{
        border: none;
        border-radius: 16px;
        padding: .5rem;
    }

    select{
        cursor: pointer;
        border: none;
        border-radius: 16px;
        padding: .5rem;
    }
}

.genero_user{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: .5rem 0;
    gap: 5px;
}

.buttons_class{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.2rem;
    gap: 1rem;

    button{
        cursor: pointer;
        background-color: #cccccc;
        border: none;
        border-radius: 24px;
        padding: 1rem;
        width: 40%;
        height: auto;
        transition-duration: 300ms;
    }

    button:hover{
        filter: brightness(.9);
    }

    #button_enviar{
        background-color: aquamarine;
    }
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 1rem;
    background-color: #a0a0a0;
}